<div class="full-screen-container">
  <!-- Header -->
  <div class="header" *ngIf="!isFullscreen || isCancelled">
    <h1>Visitor Dashboard</h1>

    <!-- Dropdown Section -->
    <div class="dropdown-section">
      <label for="deviceId">Select Device ID:</label>
      <select id="deviceId" (change)="onDeviceSelect($event)">
        <option *ngFor="let device of deviceIds" [value]="device">{{ device }}</option>
      </select>
    </div>
  </div>

 


 <!-- Image Card -->

    <!-- Action Buttons -->
    <div class="action-buttons" *ngIf="latestImageData">
      <button (click)="enterFullscreen()" *ngIf="!isFullscreen" class="icon-button">
        <i class="fas fa-expand"></i> <!-- Full Screen Icon -->
      </button>
      <button (click)="exitFullscreen()" *ngIf="isFullscreen && !isCancelled" class="icon-button">
        <i class="fas fa-compress"></i> <!-- Minimize Icon -->
      </button>
      <button (click)="cancelFullscreen()" class="icon-button">
        <i class="fas fa-times"></i> <!-- Cancel Icon -->
      </button>
    </div>
    <!-- Action Buttons -->

  <div *ngIf="latestImageData" class="full-screen-card" [class.fullscreen]="isFullscreen && !isCancelled">
    <img [src]="latestImageData.base64Image" alt="Latest Image" class="full-image" />
    <div class="full-details">
      <h2>Latest Visitor Details</h2>
      <p><strong>Visitor Name:</strong> <span>{{ latestImageData.name }}</span></p>
      <p><strong>Visitor ID:</strong> <span>{{ latestImageData.enrollId }}</span></p>
      <p><strong>IN Time:</strong> <span>{{ latestImageData.timestamp }}</span></p>
    </div>

    
  </div>
</div>
